<div class="grid_6">
	<div class="mod">
		<h2>Sunday School Lessons</h2>
	</div>
</div>
<div class="grid_6">
	<div class="mod f-right">
		<span><%= link_to 'New Lesson', new_lesson_path, :onclick => "Modalbox.show(this.href, {title: this.text, width: 700}); return false;", :class => "button"  %></span>
	</div>
</div>
<div class="grid_6">
	<div class="mod">
		<p>Below are all the lessons. To create a new lesson click the <i>New Lesson</i> button.</p>
	</div>
</div>
<div class="grid_12">
	<div class="mod">
		<table>
			<thead>
				<tr>
					<th>Lesson Title:</th>
					<th>Lesson Date:</th>
					<th>Lesson Preview:</th>
					<th>Admin Options:</th>
				</tr>
			</thead>
			<tbody>
			<% @lessons.each do |lesson| %>
				<tr>
					<td style="width:25%"><%= link_to lesson.title, lesson %></td>
					<td style="width:25%"><%= lesson.date %></td>
					<td style="width:50%"><%= lesson.preview %></td>
					<td style="width:25%" class="liInline"><ul><li><%= link_to 'Edit', edit_lesson_path(lesson), :onclick => "Modalbox.show(this.href, {title: this.text, width: 700}); return false;" %></li>
					<li><%= link_to 'Delete', lesson, :confirm => 'Do you really want to delete this lesson?', :method => :delete %></li</ul></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>




<!--
<table>
  <tr>
    <th>Title</th>
    <th>Scripture</th>
    <th>Preview</th>
    <th>Body</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.title %></td>
    <td><%= lesson.scripture %></td>
    <td><%= lesson.preview %></td>
    <td><%= lesson.body %></td>
    <td><%= lesson.date %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson), :onclick => "Modalbox.show(this.href, {title: this.text, width: 700}); return false;" %></td>
    <td><%= link_to 'Destroy', lesson, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
-->

