<p id="notice"><%= notice %></p>

<div class="grid_6">
	<div class="mod">
		<div class="hd">
			<h2><%= @lesson.title %></h2> <%= @lesson.date %>
		</div>
		<div class="bd liInline">
			<ul>	
				<li><%= @lesson.scripture, :class => 'bold' %></li>
				<li><%= @lesson.date %></li>
			</ul>
		</div>
	</div>
</div>
<div class="grid_6">
	<div class="mod">
		<div class="bd f-right liInline">
			<ul>
				<li><%= link_to 'Edit', edit_lesson_path(@lesson), :onclick => "Modalbox.show(this.href, {title: this.text, width: 700}); return false;" %></li> Lets make a change!
				<li>|</li>
				<li><%= link_to 'Back', lessons_path %></li>
			</ul>
		
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="grid_10">
	<div class="mod">
		<div class="bd">
			<%= raw @lesson.body %>
		</div>
	</div>
</div>
<div class="clear"></div>
