<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Scripture:</b>
  <%= @lesson.scripture %>
</p>

<p>
  <b>Preview:</b>
  <%= @lesson.preview %>
</p>

<p>
  <b>Body:</b>
  <%= @lesson.body %>
</p>

<p>
  <b>Date:</b>
  <%= @lesson.date %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
