<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @journal.title %>
</p>

<p>
  <b>Body:</b>
  <%= @journal.body %>
</p>


<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
